@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dashed-line {
  border-style: dashed;
  border-color: #E1B867;
  border-width: 0.4rem;
  height: 100%;
}

body {
  background-color: black;
}